.MajorSearch{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 12px;
    text-align: left
  }
.name-major{
    font-size: 20px;
    text-align: left;
    margin-left: 7%; 
    font-family: sans-serif;
    color: #1A8A70;
    text-decoration: underline;
}