.pre-app{
  width:100%;
  height: 120%;
  max-height: 1920;
  margin: auto;
  align-content: center;
  
  background-color: #1B2635;
}

.App {
  max-width:720px;
  height: 900px;
  
  margin: auto;
  text-align: center;
  background-color: white;
  
}

.App-text {
  
  font-size: 15px;
  
  
}

.text-box{
  margin: auto;
  
  
  
}

.App-header {
  
  background-color: #1B2635;
  text-align: center;
  
  
  padding: 20px;
  color: white;
}

.App-title {
  color: #ADFF2F;
  font-size: 60px;
}

.App-search{
  
  
}

