.Search{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 12px;
    text-align: left
}

.Search-Box{
    padding: 200px;
    height: 80px;
}

.subject-search{
    font-size: 20px;
    text-align: left;
    margin-left: 7%; 
    font-family: sans-serif;
    color: #1A8A70;
    text-decoration: underline;
}

.button-gp{
    display: inline;
   width: 700px;
    overflow-x: scroll;
    
  }
  .btn-space {
    margin: 2px;
}

.subject-ll{
    font-size: 12px;
    text-align: left;
    margin-left: 7%; 
    font-family: sans-serif;
    color: #4169E1;
    
}